@import url(https://fonts.googleapis.com/css?family=Poppins);

:root{
  --ac1: #55AD9B;
  --ac2: #f1f8e8;
  --ac3: #cfe4ca; 
  --div: #D8EFD3;
  --bth: #95D2B3;
  --bta: #00fdcb;
  --pht: #428679;
}

*{
  font-size: 30px;
  font-family: 'Poppins';
  background-color: var(--ac3);
  color: var(--ac1);
}

input{
  background-color: var(--ac1);
  color: var(--ac2);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;text-shadow: none;
  border:none;
  margin:none;
  text-align: center;
  border-radius: 10px;
  accent-color: var(--ac1);
}
input:focus{
  outline: #00fdcb;
}

h1{
  border-radius: 10px;
  padding-bottom: 2px;
  background-color: var(--ac3);
}
.zh1{
  border-radius: 10px;
  padding-bottom: 2px;
  color: var(--pht);
  background-color: var(--ac1);
}

.L{
  border-radius: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

h2{
  border-radius: 10px;
  background-color: var(--ac3 );
}

form{
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 10px;
  background-color: var(--div);
}

.div{
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;text-shadow: none;
  padding: 10px;
  width: 400px;
  background-color: var(--div);
  border-radius: 10px;
  transition: 0.3s;
  padding-top: 1px;
  padding-bottom: 1px;
}

.div2{
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;text-shadow: none;
  padding: 10px;
  width: 400px;
  background-color: var(--pht);
  border-radius: 10px;
  transition: 0.3s;
  padding-top: 1px;
  padding-bottom: 1px;
}

::placeholder{
  color: var(--pht);
  }


.btn{
  margin-top: 15px;
  background-color: var(--pht);
  border-radius: 10px;
  border: none;
  color: var(--ac2);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;text-shadow: none;
}
.btn:hover{
  background-color: var(--ac1);
  transition: 0.3s;
  color: var(--bta);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, var(--bth) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn:active{
  transition: 0.1s;
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px, var(--bta) 0px 7px 13px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: var(--bta);
}
  